/* Grundwebsite */
html, body{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: #D3E1E2;
  justify-content: center;
  align-items: center;
}

/* Navbar container */
.navbar {
  background-color: #407C87;
  font-family: Arial;
  overflow:hidden
}

/* Links in Navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #EEF1F6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #EEF1F6;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Background bei Hover auf Navbar */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #407C87;
}

/* Dropdown content (normal versteckt) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A5DBDD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links in Dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Dropdown Hover Background */
.dropdown-content a:hover {
  background-color: #D3E1E2;
}

/* Dropdown bei Hover anzeigen */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Burger */
#burger-icon{
  width: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Header */
.header-text{
  display: block;
  float: left;
  text-align: left;
  margin: 10px;
  padding-top: 4px; padding-bottom: 4px;
  font-size: 27px;
  color: #EEF1F6;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

/* Unter-Dropdown-Container */
.nested-dropdown {
  position: relative;
  display: inline-block;
}

/* Unter-Dropdown-Inhalt (normal versteckt) */
.nested-dropdown-content {
  display: none;
  position: absolute;
  background-color: #A5DBDD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 100%;
  top: 0;
}

/* Unter-Dropdown bei hover zeigen */
.nested-dropdown:hover .nested-dropdown-content {
  display: block;
}

/* Krypto-Text Einleitung */
.krypto-text-above{
  color: #A5DBDD;
  padding: 50px;
  margin: 0;
  margin-bottom: 0;
  background-color: #366770;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

/* Krypto-Text Daten */
.krypto-text-under{
  color: #A5DBDD;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 0;
  background-color: #366770;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

/* Krypto-Text Merkmale */
.krypto-text-u-u{
  color: #A5DBDD;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 0;
  background-color: #366770;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

/* Krypto-Preis Widget */
.cg-widget-container{
  width: 100%;
}

/* Burger-Icon */
.drpdn{
  height: 30px;
  mix-blend-mode: color-burn;

}

/* Holz-Fach: */
table caption{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: larger;
}

/* Holz-Fach Div */
#tbl{
  float: left;
  width: 100%;
  padding: 0px;
}

/* Table */
table{
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  line-height: 15px;
}

/* Range-Anzeige (JS) */
#Range{
  margin: 0;
  text-align: right;
  font-size: xx-small;
  padding: 0;
}

/* Range-ID: */
#Range-ID{
  margin: 0;
  text-align: right;
  font-size: xx-small;
  padding: 0;
}

/* TD_Inhalt (JS) */
td{
  font-size: x-large;
  line-height: 18px;
}

/* Navbar-Text */
.header-list{
  list-style: none;
  display: inline;
}

/* Navbar-Login-Button-Aussen */
.login-btn-header{
  float: right;
  text-align: left;
  margin: 10px;
  padding-top: 4px; padding-bottom: 4px;
  font-size: 20px;
  color: #EEF1F6;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

/* Navbar-Login-Button */
#login-btn{
  height: 30px;
  width: 60px;
  text-align: center;
  background: #A5DBDD;
  color: #366770;
  border-style: hidden;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

/* Navbar-Login-Button wenn Aktiv */
#login-btn:active{
  border-style: groove;
  background: #366770;
  color: #A5DBDD;
  border-style: hidden;
  border-radius: 10px;
}

/* Login-Div-Aussen */
.div-login-main{
  border-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: inline-block;
  overflow: hidden;
  background: #306b75;
  color: #a2bebe;
  border-radius: 20px;
}

/* Login-Input-Felder */
.div-login-main input{
  border-radius: 6px;
  border-style: hidden;
  padding: 10px;
  background: #D3E1E2;
}

/* Login-Label über Input-Felder */
.div-login-main label{
  font-family: 'Runik', sans-serif;
  font-weight: 300;
}