/* Holz-Fach: */
table caption{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: larger;
}

/* Holz-Fach Div */
#tbl{
    float: left;
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    color: #1E4747;
}

/* Table */
table{
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

/* Range-Anzeige (JS) */
#Range{
    margin: 0;
    text-align: right;
    font-size: xx-small;
    padding: 0;
}

/* Range-ID: */
#Range-ID{
    margin: 0;
    text-align: right;
    font-size: xx-small;
    padding: 0;
}

/* TD_Inhalt (JS) */
td{
    font-size: x-large;
    line-height: 18px;
}

/* Stile für die Tabelle */
.data-table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 10px;
}

/* Stile für die Tabellenzeilen */
.data-table tr {
    background-color: #f2f2f2 0";
}

/* Stile für gerade Tabellenzeilen */
.data-table tr:nth-child(even) {
    background-color: #ffffff 0%;
}

/* Stile für die Tabellenzellen */
.data-table td, .data-table th {
    border: 1px solid #1E4747;
    padding: 8px;
    text-align: left;
    height: 17px;
    line-height: 15px;
    color: #1E4747;
}

.data-table td{
    font-size: 15px;
}

/* Stile für die Tabellenüberschriften */
.data-table th {
    background-color: #1E4747;
    border-style: none;
    color: #D0B388;
}

#Trennlinie{
    background-color: #1E4747; 
    height: 5px; 
    border-style: solid;
}