/* body */
body {
    margin: 0;
    padding: 0;
}

/* navbar */
header {
    background-color: #2e5961;
    width: 100%;
    height: 59px;
}

/* Hauptteil */
main {
    background: linear-gradient(180deg, rgba(72,168,164,1) 0%, rgba(111,120,177,1) 100%);
}

/* Logo */
.logo {
    display: inline;
    height: 50px;
    position: relative;
    left: 5px;
}

/* Icons */
.icons {
    display: inline;
    padding: 0;
}

/* Icon-Links */
.icons a {
    text-decoration: none;
}

/* Icons ohne Text danach */
.icons-raw {
    height: 50px;
}

/* Container welcher alle Icons + Logo enthält */
.container {
    display: grid; 
    grid-template-columns: 1fr auto;
    align-items: start;
}

/* Logo und Icons */
.left, .right {
    list-style: none; 
    margin: 0%; 
    padding: 0%;
}

/* Icon */
.right {
    position: relative;
    top: 5px;
    right: 5px;
    transition: all 0.s;
}

/* Icon Animation */
.right:hover {
    position: relative;
    top: 0;
}

/* Icon Button */
.right button {
    background: #2e5961;
    margin: -2px;
    padding: 0px;
    border-style: none;
    width: min-content;
    transition: transform 1s;
}

/* Icon Button Animation */
.right button:hover {
    background: #A5DBDD;
    position: relative;
    top: 0;
    width: min-content;
    height: 60px;
    transform: scaleX(1.1);
    .text-icons {
        display: block;
    }
    .icons-raw {
        display: none;
    }
}

/* Icons mit Text */
.text-icons {
    color: #252020;
    display: none;
    height: 50px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #302744;
}

/* Scrollbar Hintergrund */
::-webkit-scrollbar-track {
    background: #302744;
    border-radius: 90px;
}

/* Scrollbar Vordergrund */
::-webkit-scrollbar-thumb {
    background: rgb(154, 163, 163);
    border-radius: 90px;
}

/* Treffpunkt zwischen horizontaler und vertikaler Scrollbar */
::-webkit-scrollbar-corner {
    background: #302744;
}

/* In diesem Fach ist: */
table caption {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: larger;
}

/* Holz-Fach Div */
#tbl {
    float: left;
    width: 100%;
    padding: 0px;
    padding-top: 10px;
}

/* Table bei aktueller Fachanzeige */
table {
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

/* Range-Anzeige (JS) */
#Range, #Range-ID {
    margin: 0;
    text-align: right;
    font-size: xx-small;
    padding: 0;
}

/* TD_Inhalt (JS) */
td {
    font-size: x-large;
    line-height: 18px;
}

/* Stile für die Tabelle */
.data-table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 10px;
}

/* Stile für die Tabellenzellen */
.data-table td, .data-table th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    height: 17px;
    line-height: 15px;
    position: relative; /* Position für den Tooltip */
}

/* Stil für Tabellenzellen */
.data-table td {
    font-size: 15px;
}

/* Stile für die Tabellenüberschriften */
.data-table th {
    background-color: #407C87;
    border-style: none;
    color: #252020;
}

/* Trennlinie zwischen aktueller Fachanzeige und Tabelle */
#Trennlinie {
    background-color: #407C87; 
    height: 5px; 
    border-style: solid;
}
